doctype html
html(lang='en')
    head
        title= title
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/angularjs/angular.js')
        link(rel='stylesheet',href='/stylesheets/mystyle.css')
        
    
    body
        .header
        
            .navbar
                ul
                    a(href="/login")
                        li <input type="button" class="reg_but_header" value ="Register/login"/>
                    li Contact
                    li Reserve
                    li About
                    li Home
            .quote
                p Reserve my place!
                
        
         
        
         .intro_text
            | Reserve my place, U can book your place with ease
            | click on Reserve to continue !
            | <br>
            | <center>
            input(class="reg_but",type="button",onclick="#",value="Register")
            | </center>
            
        .footer
            .techno
                | This site works on Node, Jade , Mongodb, stylus, nib
                
            
         