doctype html
html(lang='en')
    head
        title= title
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/angularjs/angular.js')
        link(rel='stylesheet',href='/stylesheets/mystyle.css')
        
    
    body
        .header
        
            .navbar
                ul
                    li Contact
                    li Reserve
                    li About
                    li Home
            .quote
                p Reserve my place!
                
        
         
        
         .intro_text
            | Reserve my place, U can book your place with ease
            | click on Reserve to continue !
            
        
            
         